# Jira Configuration
JIRA_SERVER=https://jira.sirionlabs.tech

# Custom Field Configuration
CUSTOM_FIELD_ID=customfield_10111
CUSTOM_FIELD_VALUE=Platform Comm Mgmt
DEFAULT_ESTIMATE=2h

# Flask Configuration
FLASK_HOST=0.0.0.0
FLASK_PORT=5000
DEBUG=False
